 .jumbotron {
   background-color: #000000;
   color: #ffffff;
   border: 3px solid purple;
 }


 #gameDisplayPlayer1 {
   background-color: ivory;
   border: 2px solid yellow;
 }

 #gameDisplayPlayer2 {
   background-color: ivory;
   border: 2px solid yellow;
 }

 h1 {
   color: red;
 }
